<div class="jumbotron margin-top">
    <div class="bg-overlay p-5 text-center">
        <div class="container p-0 p-md-5">
            <!-- page-title-->
            <h1 class="text-white">Courses</h1>
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Courses</li>
                </ol>
            </nav>
            <!--/breadcrumb -->
        </div>
        <!--/container-->
    </div>
    <!--/bg-overlay-->
</div>
<!-- Section Tuition -->
<section id="tuition" class="container-fluid ">
    <!-- Section heading -->
    <div class="page-header text-center ">
        <h3 class="sub-header">COURSE CATEGORIES</h3>
        <h6>We offer a wide range of music courses designed to cater to different ages,
            <br>skill levels, and interests. Our
            courses include:
        </h6>
        <!-- divider -->
        <div class="hr"></div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Price table 1 -->
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                    <!-- header -->
                    <div class="pricingTable-header">
                        <span class="title">CORE COURSES </span>
                        <span class="month">(Compulsory)</span>
                    </div>
                    <!-- pricing content -->
                    <div class="scroll-container">
                        <ul class="pricing-content">
                            <li>Music Theory</li>
                            <li>Rhythm Lessons </li>
                        </ul>
                    </div>
                </div>
                <!-- /pricingTable -->
            </div>
            <!-- /col -->
            <!-- Price table 2 -->
            <div class="col-md-3 col-sm-6 res-margin">
                <div class="pricingTable">
                    <!-- header -->
                    <div class="pricingTable-header">
                        <span class="title">ELECTIVES COURSES</span>
                        <span class="month">(Max-choice One)</span>
                    </div>
                    <!-- pricing content -->
                    <div class="scroll-container">
                        <ul class="pricing-content">
                            <li>Dance</li>
                            <li>Karate</li>
                            <li>Arts and Crafts</li>
                        </ul>
                    </div>

                </div>
                <!-- /pricingTable -->
            </div>
            <!-- /col -->
            <!-- Price table 3 -->
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="title">BREADTH COURSES</span>
                        <span class="month">(Max-choice One)</span>
                    </div>
                    <div class="scroll-container">
                        <ul class="pricing-content">
                            <li>Confidence building</li>
                            <li>Basic Acting Skills</li>
                            <li>Ethics, Civility, & Etiquettes </li>
                            <li>Communication Skills</li>
                        </ul>
                    </div>
                </div>
                <!-- /pricingTable -->
            </div>
            <!-- /col -->
            <!-- Price table 4 -->
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                    <!-- Header -->
                    <div class="pricingTable-header">
                        <span class="title">SELECTIVE COURSES</span>
                        <span class="month">(Max-choice 2)</span>
                    </div>
                    <!-- Scrollable Content -->
                    <div class="scroll-container">
                        <ul class="pricing-content">
                            <li>Piano</li>
                            <li>Violin</li>
                            <li>Guitar</li>
                            <li>Trumpet</li>
                            <li>Voice</li>
                            <li>Drums</li>
                            <li>Saxophone</li>
                            <li>Cello</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!--/row -->
    </div>
    <!--/container -->
</section>
<!-- /section ends-->

<div class="card">
    <!-- Tab 3 -->
    <div class="tab-pane" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
        <div class="row">
            <div class="col-lg-7 my-auto">
                <!-- Accordion -->
                <div class="card">
                    <h4 class="sidebar-header">Accordion</h4>
                    <!-- Accordion -->
                    <div class="accordion" id="accordion2">
                        <!--accordion item -->
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Spanish Classes
                                </button>
                            </h4>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordion2">
                                <div class="accordion-body p-3">
                                    <p>Felis tiam non metus Placerat a ultricies a, posuere lorem ipseut lincas
                                        psuiem t volut pat phas ellus ac
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--accordion item -->
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Music Classes
                                </button>
                            </h4>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordion2">
                                <div class="accordion-body p-3">
                                    <p>Vivamus finibus lorem diam, sit amet facilisis tellus placerat Aliquam
                                        porttitor ut lectus eget imperdiet. Aenean ut ex leo. Nulla faucibus turpis
                                        sit amet turpis mattis vestibulum et vel enim. Suspendisse magna magna,
                                        consectetur at erat non, mattis aliquet elit. </p>
                                    <p>Fusce at nibh lacinia orci dictum euismod. Praesent vel nisl in quam commodo
                                        tristique.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--accordion item -->
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                    Nap Time
                                </button>
                            </h4>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordion2">
                                <div class="accordion-body p-3">
                                    <p>Vivamus finibus lorem diam, sit amet facilisis tellus placerat Aliquam
                                        porttitor ut lectus eget imperdiet. Aenean ut ex leo. Nulla faucibus turpis
                                        sit amet turpis mattis vestibulum et vel enim. Suspendisse magna magna,
                                        consectetur at erat non, mattis aliquet elit. </p>
                                    <p>Fusce at nibh lacinia orci dictum euismod. Praesent vel nisl in quam commodo
                                        tristique.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/accordion item -->
                    </div>
                    <!--/accordion -->
                </div>
                <!-- /card -->
            </div>
            <!--/accordion -->

            <!--/col -->
            <div class="col-lg-5 margin1 img-effect no-grad ">
                <img src="img/about3.jpg" alt="" class="center-block img-fluid">
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /tab-pane-->
</div>

<!-- /section-->
<section id="benefits" class="container page">
    <div class="col-lg-8 offset-lg-2 text-center">
        <span class="lead">what we do</span>
        <h2>Levels and Grades</h2>
        <p>We offer music instruction to students of all ages and skill levels, from beginner to proficient. Our levels
            and grades are designed to provide a clear pathway for progress and development.We offer music instruction
            to students of all ages and skill levels, from beginner to proficient. Our levels and grades are designed to
            provide a clear pathway for progress and development.</p>
    </div>
    <!-- /col -->
    <!-- features -->
    <div class="row mt-5">
        <div class="col-xl-4 my-auto p-3 text-center text-xl-start">
            <!-- feature -->
            <div class="feature-with-icon mb-5">
                <div class="icon-features">
                    <!-- icon -->
                    <img loading="lazy" src=" petlove/img/svg/paw.svg" alt="">
                </div>
                <span class="h5 lead align-start">Beginner</span>
                <div class="mt-2 row">-Introduction to music theory and instrument basics<br>
                    - Development of fundamental skills, such as hand positioning, finger placement, and basic
                    techniques
                    - Simple songs and exercises to build confidence and familiarity
                </div>
            </div>
            <!-- /feature-with-icon-->
            <!-- feature -->
            <div class="feature-with-icon">
                <div class="icon-features">
                    <!-- icon -->
                    <img loading="lazy" src=" petlove/img/svg/paw.svg" alt="">
                </div>
                <span class="h5 lead">Intermediate</span>
                <p class="mt-2">Etiam rhoncus leo a dolor placerat, nec elem entum ipsum convall.</p>
            </div>
            <!-- /feature-with-icon-->
        </div>
        <!-- /col -->
        <div class="col-xl-4 p-3 my-auto pt-sm-0 order-3 text-center text-xl-start">
            <!-- feature -->
            <div class="feature-with-icon mb-5">
                <div class="icon-features">
                    <!-- icon -->
                    <img loading="lazy" src=" petlove/img/svg/paw.svg" alt="">
                </div>
                <span class="h5 lead">Advanced</span>
                <p class="mt-2">Etiam rhoncus leo a dolor placerat, nec elem entum ipsum convall.</p>
            </div>
            <!-- /feature-with-icon-->
            <!-- feature -->
            <div class="feature-with-icon">
                <div class="icon-features">
                    <!-- icon -->
                    <img loading="lazy" src=" petlove/img/svg/paw.svg" alt="">
                </div>
                <span class="h5 lead">Proficient</span>
                <p class="mt-2">Etiam rhoncus leo a dolor placerat, nec elem entum ipsum convall.</p>
            </div>
            <!-- /feature-with-icon-->
        </div>
        <!-- /col -->
        <div class="text-center col-xl-4 mx-auto mt-3">
            <!--image  -->
            <img loading="lazy" src=" petlove/img/benefits.jpg" alt="" class="img-fluid">
        </div>
        <!-- col -->
    </div>
    <!-- /row-->
</section>
<!-- /section-->

<div class="card">
    <div class="row">
        <div class="col-lg-3">
            <div class="alert bg-color1">
                <div class="pricingTable-header">
                    <span class="title">BEGINNER</span>
                    <P></P>
                </div>
                <div class="scroll-container">
                    <ul class="pricing-content text-light">
                        <li>Introduction to music theory and instrument basics</li>
                        <li>Development of fundamental skills, such as hand positioning, finger placement, and basic
                            techniques</li>
                        <li>Simple songs and exercises to build confidence and familiarity</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="alert bg-color3">
                <div class="pricingTable-header">
                    <span class="title">INTERMEDIATE</span>
                    <P></P>
                </div>
                <div class="scroll-container">
                    <ul class="pricing-content text-light">
                        <li>Expansion of technical skills, including scales, arpeggios, and chord progressions</li>
                        <li>Introduction to more complex repertoire, including classical and contemporary pieces</li>
                        <li>Focus on musical expression, phrasing, and dynamics</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 ">
            <div class="alert bg-color3">
                <div class="pricingTable-header">
                    <span class="title">ADVANCE</span>
                    <P></P>
                </div>
                <div class="scroll-container">
                    <ul class="pricing-content text-light">
                        <li>Refining techniques, such as tone production, articulation, and pedaling (for pianists)</li>
                        <li>Exploration of advanced repertoire, including intricate compositions and nuanced
                            interpretations</li>
                        <li>Emphasis on performance skills, including stage presence and audience engagement</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="alert bg-color2">
                <div class="pricingTable-header">
                    <span class="title">PROFICIENT</span>
                    <P></P>
                </div>
                <div class="scroll-container">
                    <ul class="pricing-content text-light">
                        <li>Mastery of instrument and musical style, with a focus on subtlety and finesse</li>
                        <li>Development of personal expression and interpretation, with a deep understanding of the
                            music</li>
                        <li>Preparation for professional performances, auditions, or music competitions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion" id="accordion3">
    <!--accordion item -->
    <div class="accordion-item">
        <h4 class="accordion-header" id="headingOne1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1"
                aria-expanded="true" aria-controls="collapseOne">
                Breakfast
            </button>
        </h4>
        <div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne1"
            data-bs-parent="#accordion3">
            <div class="row p-3">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="custom no-margin">
                                <li>Fruits</li>
                                <li>Cheese Sandwich (Gluten Free Option
                                    Available)
                                </li>
                                <li>Fresh Orange Juice</li>
                                <li>Crackers
                                </li>
                                <li>Fruit Salad
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="custom no-margin">
                                <li>Fruits</li>
                                <li>Cheese Sandwich (Gluten Free Option
                                    Available)
                                </li>
                                <li>Fresh Orange Juice</li>
                                <li>Crackers
                                </li>
                                <li>Fruit Salad
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /accordion body -->
            </div>
            <!-- /row -->
        </div>
        <!--/collapse -->
    </div>
    <!--/accordion item -->
    <div class="accordion-item">
        <h4 class="accordion-header" id="headingTwo2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                Lunch
            </button>
        </h4>
        <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2"
            data-bs-parent="#accordion3">
            <div class="accordion-body">
                <div class="row p-3">
                    <div class="col-md-6">
                        <ul class="custom no-margin">
                            <li>Fruits</li>
                            <li>Cheese Sandwich (Gluten Free Option Available)
                            </li>
                            <li>Fresh Orange Juice</li>
                            <li>Crackers
                            </li>
                            <li>Fruit Salad
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="custom no-margin">
                            <li>Fruits</li>
                            <li>Cheese Sandwich (Gluten Free Option Available)
                            </li>
                            <li>Fresh Orange Juice</li>
                            <li>Crackers
                            </li>
                            <li>Fruit Salad
                            </li>
                        </ul>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <!--/accordion body-->
        </div>
        <!--/collapse -->
    </div>
    <!--accordion item -->
    <div class="accordion-item">
        <h4 class="accordion-header" id="headingThree3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                Snacks
            </button>
        </h4>
        <div id="collapseThree3" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordion3">
            <div class="accordion-body">
                <div class="row p-3">
                    <div class="col-md-6">
                        <ul class="custom no-margin">
                            <li>Fruits</li>
                            <li>Cheese Sandwich (Gluten Free Option Available)
                            </li>
                            <li>Fresh Orange Juice</li>
                            <li>Crackers
                            </li>
                            <li>Fruit Salad
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="custom no-margin">
                            <li>Fruits</li>
                            <li>Cheese Sandwich (Gluten Free Option Available)
                            </li>
                            <li>Fresh Orange Juice</li>
                            <li>Crackers
                            </li>
                            <li>Fruit Salad
                            </li>
                        </ul>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <!--/accordion body -->
        </div>
        <!--/collapse -->
    </div>
    <!--/accordion item -->
</div>

<div class="info-section mt-5">
    <div class="container-fluid">
        <div class="row g-4">
            <div class="col-xl-2 col-lg-3 col-md-12 order-lg-1 order-3">
                <div class="progress-area">
                    <div id="progress" class="progress-item mb-lg-4 mb-md-0 mb-4">
                        <svg viewbox="0 0 110 100">
                            <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                <stop offset="0%" stop-color="#56c4fb" />
                                <stop offset="100%" stop-color="#0baeff" />
                            </linearGradient>
                            <path class="grey" d="M30,90 A40,40 0 1,1 80,90" fill='none' />
                            <path id="blue" fill='none' class="blue" d="M30,90 A40,40 0 1,1 80,90" />
                            <text x="50%" y="80%" dominant-baseline="middle" text-anchor="middle"
                                style="font-size:18px;">90%</text>
                        </svg>
                        <h5>Case Win</h5>
                    </div>
                    <div id="progress1" class="progress-item">
                        <svg viewbox="0 0 110 100">
                            <linearGradient id="gradient1" x1="0" y1="0" x2="0" y2="100%">
                                <stop offset="0%" stop-color="#56c4fb" />
                                <stop offset="100%" stop-color="#0baeff" />
                            </linearGradient>
                            <path class="grey" d="M30,90 A40,40 0 1,1 80,90" fill='none' />
                            <path id="blue1" fill='none' class="blue" d="M30,90 A40,40 0 1,1 80,90" />
                            <text x="50%" y="80%" dominant-baseline="middle" text-anchor="middle"
                                style="font-size:18px;">90%</text>
                        </svg>
                        <h5>Legal Solutions</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-9 order-lg-2 order-1">
                <div class="info-content">
                    <h2>We Are The Most Populer Law Firm With Legal Law.</h2>
                    <p>In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor
                        mauris laoreet, iaculis libero quis.Curabitur et tempus eri consequat tincidunt turpis sita
                        amet imperdiet. Praesent nonatourean olei aptent.</p>
                    <ul class="info-list">
                        <li>
                            <h4>Open Hour</h4>
                            <p>Monday To Saturday <br>
                                9.00 AM - 10.30 PM</p>
                        </li>
                        <li>
                            <h4>Location</h4>
                            <p>168/170, Ave 01,Old York Drive Rich <br> Mirpur, Dhaka, Bangladesh</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-md-3 order-lg-3 order-2">
                <div class="info-video">
                    <div class="video-play">
                        <a href="https://youtu.be/qtgMGHGSXFA" class="popup-youtube video-icon"><i
                                class="bx bx-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>