/* You can add global styles to this file, and also import other style files */
.align-text {
  text-align: justify !important;
}

.margin-top {
  margin-top: 80px;
}

.margin-buttom {
  margin-bottom: 20px;
}
