.centered {
  justify-content: center;
}

.text_align {
  text-align: start;
  padding-left: 40px;
}

.card-margin {
  margin-right: 40px;
}

//   .btn-position {
//     display: flex;
//     justify-content: end;
//     align-self: flex-end;
//   }
